.choose-section {
    text-align: center;
    height: 100vh;
h5 {
    font-family:"Montserrat-bold, sans-serif";
    font-weight: 800;
    font-size: 18px;
    padding-top: 50px;
    margin-bottom: 40px;
}
.section-txt {
    font-family: "OpenSans-Light, sans-serif";
    font-weight: 100;
    font-size: 18px;
    color: #6f6f6f;
    margin-bottom: 140px;
}
img {
    position: relative;
    bottom: 145px;
    left: 75px;
}
svg {
    width: 24px;
    height: 21px;
    fill: #b6b6b6;
   }
.text-mobile {
    width: 640px;
   }

.mobile {
    text-align: left;
    display: flex;
}
}
