.choose-section {
    text-align: center;
.container {
    padding: 40px 0;
}    
    
h5 {
    font-family:"Montserrat-bold", sans-serif;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 40px;
}
svg::before{
    content: "";
    display: block;
    height: 2px;
    width: 80px;
    background-color:#6f6f6f;
    margin-right: 15px;
  }
.section-txt {
    font-family: "OpenSans-Light", sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #6f6f6f;
    margin-bottom: 140px;
}
strong {
    font-family: "Montserrat-bold", sans-serif;
    font-size: 24px;
}
.paragraph-1 {
    font-family: "Montserrat-regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #6f6f6f;
    line-height: 2;
    position: relative;
}
.paragraph-1::after {
    content: "";
      display: block;
      height: 2px;
      width: 80px;
      background-color: #6f6f6f;
      margin-top: 30px;
}
.paragraph-2 {
    font-family: "OpenSans-Regular", sans-serif;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
}
.phone {
    position: relative;
    bottom: 145px;
    left: 75px;
}
.hummer {
    fill: #b6b6b6;
   }
.text-mobile {
    width: 590px;
   }

.mobile {
    text-align: left;
    display: flex;
}
}
.features-section-container {
    display: flex;
    text-align: center;
    width: 33%;
    margin: 10px 0px;
}
.features-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;

.features-section-text {
    text-align: left;
}
 
P {
    margin: 0;
}    

.features-section-icon {
    width: 50px;
    height: 50px;
    margin-right: 35px;
 }   


span::after {
    content: "";
    position: relative;
    display: block;
    right: 75px;
    height: 1px;
    width: 115%;
    background-color: #6f6f6f;
    opacity: 0.3;
    
}

.text-bold {
    font-family: "Montserrat-bold", sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
  
}    
.text-regular {
    font-family: "Montserrat-regular", sans-serif;
    font-weight: 200;
    font-size: 13px;
    color:#6f6f6f;
    opacity: 0.6;
    margin-bottom: 15px;
}
} 

