
.our-blog {
    text-align: center;
    margin: 50px 0;
 
.team {
    letter-spacing: 6px;
}
.section-txt {
    color: #6f6f6f;
    margin-bottom: 60px;
}
}    
.hummer {
    fill: #6f6f6f;
}  
.grid-blog {
    display: flex;
    flex-wrap: wrap;
    background-color: #eaeaea;
.table-blog, .table-blog-2 {
    display: flex;
    width: 50%;
  
div {
    width: 50%;
}    
}
.table-blog-2 {
    flex-direction: row-reverse;
} 
a {
    text-decoration: none;
    color: #000;
    
}
p { 
    text-align: left;
    padding-left: 40px;
} 

.text-1 {
    font-family: "CrimsonText", serif;
    font-weight: 600;
    font-size: 14px;
    padding-top: 20px;
}    
.text-2 {
    font-family: "Montserrat-regular",sans-serif;
    font-weight: 800;
    font-size: 18px;
}
.text-3 {
    font-family: "Montserrat-regular",sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #6f6f6f;
    padding-right: 40px;
    margin-bottom: 30%;
}
.text-4 {
    font-family: "Montserrat-regular",sans-serif;
    font-weight: 600;
    font-size: 12px;
}
.text-4:hover {
    color: #eeb013;
    fill: #eeb013;
    cursor: pointer;
}
.arrow {
    width: 20px;
    height: 10px;
    padding: 0 20px;
}

.text-2, .text-4 {
    text-transform: uppercase;
}
   
.grid-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    display: block;
    
}   
}

@media (max-width: 1160px) {
.grid-blog {
p {
    padding-left: 5px;
}  
.text-1 {
    padding-top: 2px;
    font-size: 10px;
}  
.text-2 {
    font-size: 12px;
}
 .text-3  {
    margin-bottom: 15%;
    font-size: 12px;
    padding-right: 2px;
  
}
}
}
@media (max-width: 675px) {
.grid-blog {
.table-blog, .table-blog-2 {
    width: 100%;
}
}
}
@media (max-width: 480px) {
    .grid-blog .text-3 {
    margin-bottom: 5%;
    }
}