
.our-blog {
    text-align: center;
    margin: 70px 0;
.repeat-block {
    margin-bottom: 60px;
} 
h2 {
    letter-spacing: 6px;
}
.section-txt {
    color: #6f6f6f;
}
}    
.icon-hummer {
    fill: #6f6f6f;
}  
.grid-blog {
    display: flex;
    flex-wrap: wrap;
    background-color: #eaeaea;
.table-blog, .table-blog-2 {
    display: flex;
    width: 50%;

div {
    width: 50%;
    text-align: left;
}    
}
.table-text p,h5,a {
    padding-left: 10px;
}  
.table-blog-2 {
    flex-direction: row-reverse;
} 
a {
    text-decoration: none;
    color: #000;
    
}
p { 
    text-align: left;
} 

.grid-title {
    font-family: "CrimsonText", serif;
    font-weight: 600;
    font-size: 14px;
}    
h5 {
    font-family: "Montserrat-regular",sans-serif;
    font-weight: 800;
    font-size: 18px;
}
.grid-desc {
    font-family: "Montserrat-regular",sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #6f6f6f;
    padding-right: 40px;
    margin-bottom: 30%;
}
a {
    font-family: "Montserrat-regular",sans-serif;
    font-weight: 600;
    font-size: 12px;
}
a:hover {
    color: #eeb013;
    fill: #eeb013;
    cursor: pointer;
}
.arrow {
    width: 20px;
    height: 10px;
}

h5, a {
    text-transform: uppercase;
}
   
.grid-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    display: block;
    
}   
}

@media (max-width: 1160px) {
.grid-blog {
p {
    padding-left: 5px;
}  
.grid-title {
    padding-top: 2px;
    font-size: 12px;
}  
h5 {
    font-size: 12px;
}
.grid-desc  {
    margin-bottom: 15%;
    font-size: 12px;
    padding-right: 2px;
  
}
}
}
@media (max-width: 675px) {
.grid-blog {
.table-blog, .table-blog-2 {
    width: 100%;
}
}
}
@media (max-width: 480px) {
    .grid-blog .grid-desc {
    margin-bottom: 5%;
    }
}