.parallax-section {
        background-image:
        linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.3)),
        url("../img/section-3.jpg");
        background-position: top;
        background-repeat: no-repeat;
        text-align: center;
        height: 320px;
        color: #fff;

.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 40px;
       }

.figures {
        font-family: "Montserrat-regular", serif;
        font-weight: 800;
        font-size: 48px;
        margin-bottom: 30px;
}
.text {
        font-family: "Montserrat-bold", sans-serif;
        font-weight: 600;
        font-size: 18px;
}
.text::after {
        content: "";
        display: block;
        height: 3px;
        width: 70px;
        background-color: #fff;
        margin: 30px 45px;
}
}
@media (max-width: 720px) {
.parallax-section {
        min-width: 410px;
.container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 20px;
}       
.figures {
        font-size: 22px;
}
.text {
        font-size: 15px;
}        
}
}