.plan-pricing {
    text-align: center;
.repeat-block {
    margin-bottom: 60px;
}    
h2 {
    letter-spacing: 3px;
}    
.section-txt {
    color: #6f6f6f;
}
.pricing-txt {
    font-family: "Montserrat-bold", sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    
.txt-plan {
    font-family: "Montserrat-regular", sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-transform: capitalize;
    opacity: 0.6;
    }
}    
}
.section-block {
    display: flex;
    padding: 25px 0;
}
.section-plan {
    position: relative;
    width: 270px;
    height: 545px;
    border: solid 2px #ececec ;
    text-align: center;
    padding: 20px 0;
    margin: 0 10px;
    background-color: #fff;
    cursor: pointer;

h4 {
    font-family: "Montserrat-bold", sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: solid 2px #ececec;
    padding: 0 0 20px;
}
// h4::after {
//     content: "";
//     display: block;
//     border-bottom: solid 2px #ececec;
//     margin-top: 20px;
// }
ul {
    padding: 0;
}
li {
    font-family: "Montserrat-regular", sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #6f6f6f;
    list-style: none;
    margin: 50px 0;
    opacity: 0.8;

 svg {
     position: absolute;
     width: 15px;
     height: 10px;
     fill: #f7bd56;
     margin-left: 35px;
 }   
    }
.text-bottom {
    color:#141414;
span {
    padding: 0 5px;
}    
.icons-section {
    font-family: "Montserrat-regular", sans-serif;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    left: 44px;
    bottom: 70px;
}
.number-section {
    font-family: "Montserrat-regular", sans-serif;
    font-weight: 600;
    font-size: 50px;
}  
.text-section {
    font-family: "OpenSans-LightItalic", sans-serif;
    font-weight: 400;
    font-size: 14px;
    
}  
} 
.get {
    width: 160px;
    height: 40px;
    font-family: "Montserrat-bold", sans-serif;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    bottom: 40px;
    display: none;
} 
}
.section-plan {
    transition: 0.5s;
}

.section-plan:hover {
    transform: translateY(-30px);
    transition: 0.5s;
    background-color: #fff;
}
.section-plan:hover .get {
    bottom: 8px;
    display: initial;
    cursor: pointer;
}  

@media (max-width: 910px) {
    .section-plan li svg {
        margin-left: 20px;
    }
}


@media (max-width: 768px) {
.section-block {  
    flex-wrap: wrap; 
    justify-content: center;
.section-plan {
    width: 37%;
    height: 270px;
    padding: 5px 0;
    margin: 15px 5px;
.get {
    width: 100%;
}     
.text-bottom {
    margin: 0;
.icons-section {
    left: 25px;
    bottom: 40px;
    opacity: 0.3;
}  
.number-section {
    font-size: 30px;
}  
}
li {
    margin: 11px 0;
 
svg {
    margin-left: 10px;
}  
}    
} 
}
}
@media (max-width: 1180px) {
.section-plan .text-bottom .icons-section {
    left: 0;
}  
.section-plan:hover .get {
    bottom:0;
    z-index: 10;
    transition: 0.3s;
    cursor: pointer;
}   
}
@media (max-width: 530px) {
.section-block {
.section-plan {
    height: 270px;
h4 {
    font-size: 11px;
}    
.text-bottom .icons-section {
    bottom: 60px;
    left: 0;
}    
li {
    margin: 11px 0;
    font-size: 11px;
svg {
    margin-left: 1px;
}       
}
}
}
}
