
.wr-services {
    background-image: url("../img/section-2.jpg");
    background-position: top;
    text-align: center;

.container-custom {
    max-width: 745px;
    margin: 0 auto;
}
    
h3 {
    font-family: "Montserrat-bold", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-top: 45px;
    text-align: left;
}
.text-section p {
    font-family: "OpenSans-Light", sans-serif;
    font-size: 16px;
    color: #6f6f6f;
    margin-bottom: 50px;
    text-align: left;
}
.service-icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
}
.icons {
    width: 36px;
    height: 32px;
}

.hummer {
   fill: #fff;
}

.container-icons {
    width: 60px;
    height: 60px;
    border: 2px solid #d8d8d8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.service-icon p {
    font-family:"Montserrat-regular", sans-serif;
    font-weight:600;
    font-size: 14px;
    text-transform: uppercase;
    transform: translate(-25%, 25%);
}

.service-btn  {
    font-size: 24px;
    border: solid 2px;
    width: 250px;
    height: 54px;
    color: #fffefe;
    background-color: transparent; 
    margin-bottom: 50px;
}
.service-btn:hover {
    background-color:  #fffefe;
    color: #555;
    cursor: pointer;
}
}

.portfolio {
    background: rgba(255, 255, 255, 0.2);
    color: #fffefe;
    padding: 25px 10px;

h6 {
    font-family:"Montserrat-bold", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-family:"OpenSans-Light", sans-serif;
    font-size: 18px;
    opacity: 0.7;
    padding-bottom: 35px;
}
.hummer {
    fill: #fffefe;
}

.filter-tabs button {
    font-family:"Montserrat-regular", sans-serif;
    font-size: 11px;
    border: solid 2px white;
    height: 38px;
    color: #fffefe;
    background-color: transparent;
    margin-left: 30px;
}
.filter-tabs button:hover {
   border-color: #eeb013;
   cursor: pointer;
}
.btn-text {
    width: 160px;
} 
 .more-btn {
     width: 60px;
}
}

.portfolio-section {
   display: flex;
   flex-wrap: wrap;

a {
    width: 25%;
    display: block;
    position: relative;
    z-index: 50;
  
} 
a:hover .exp {
    z-index: 55;
}
.exp {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: -10;
}
.search{
    fill: #fff;
    width: 20px;
    height: 20px;
}
p {
    color:#fff;
}
.search {
   
}
a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    opacity: 0;
    transition:.4s;
 }
a:hover:after { 
    opacity: 1;
 }

img {
    width: 100%;
    height: 100%;
}
}
 
