
.wr-services {
    background-image: url("../img/section-2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;

.container-custom {
    max-width: 745px;
    margin: 0 auto;
    padding: 35px 30px;
}
.text-wr-services {
    text-align: left;
}
h3 {
    font-family: "Montserrat-bold", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.text-wr-services p {
    font-family: "OpenSans-Light", sans-serif;
    font-size: 16px;
    color: #6f6f6f;
    margin-bottom: 50px;
}
.service-icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
    align-items: center;
    
}
.icons-1,.icons-2 {
    width: 36px;
    height: 32px;
}
.section-txt {
    opacity: 0.6;
}
.repeat-block {
    margin-bottom: 50px;
}
.icon-hummer{
   fill: #fff;
}
.container-icons {
    width: 60px;
    height: 60px;
    border: 2px solid #d8d8d8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.service-icon p {
    font-family:"Montserrat-regular", sans-serif;
    font-weight:600;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: -90px; 
}

.service-btn  {
    font-family:"Montserrat-regular", sans-serif;
    font-weight:400;
    font-size: 18px;
    border: solid 2px;
    width: 250px;
    height: 54px;
    color: #fffefe;
    background-color: transparent; 
}
.service-btn:hover {
    background-color:  #fffefe;
    color: #555;
    cursor: pointer;
}
}

.portfolio {
    background: rgba(255, 255, 255, 0.2);
    color: #fffefe;
    padding: 25px 10px;

.icon-hummer {
    fill: #fffefe;
}

.filter {
 button {
    font-family:"Montserrat-regular", sans-serif;
    font-size: 11px;
    border: solid 2px white;
    height: 38px;
    color: #fffefe;
    background-color: transparent;
    margin: 0px 15px;
    text-transform: uppercase;
    width: 160px;
    cursor: pointer;
}
.active-btn {
    background-color: #eeb013;
    
}    
}

//  .active {
//      width: 60px;
// }
}

.portfolio-section {
   display: flex;
   flex-wrap: wrap;

a {
    width: 25%;
    display: block;
    position: relative;
    z-index: 50;
img {
    width: 100%;
    /* height: 20px; */
    object-fit: cover;
}  
} 
a:hover .exp {
    z-index: 55;
}
.exp {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: -10;
}
.search{
    fill: #fff;
    width: 20px;
    height: 20px;
}
p {
    color:#fff;
}
a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    opacity: 0;
    transition:.4s;
 }
a:hover:after { 
    opacity: 0.9;
 }

img {
    width: 100%;
    height: 100%;
}
}
.hide  {
    filter: brightness(40%);
    transition: 1000ms;
    pointer-events: none; 
}

 
@media (max-width: 768px) {
.wr-services {
.text-section {
    text-align: center;
}    
h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.repeat-block {
    margin-bottom: 10px;
}
h6 {
    font-size: 15px;
}
.container-icons {
    width: 50px;
    height: 48px;

.icons-2  {
    width: 29px;
    height: 32px;
}    
}
.container-custom {
    padding: 10px 5px;
}
.text-section p {
    font-size: 14px;
}    
.service-icon {
    flex-direction: column;
    padding: 15px 0 0;
    margin-bottom: 15px;
p {
    margin-left: 0;
}
}

.service-btn {
    font-size: 12px;
    width: 130px;
    height: 25px;
}
.exp {
    display: none;
}
.portfolio {
    padding: 5px 5px;
.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 5px;   
}
p {
    font-size: 11px;
}
button {
    height: 20px;
    margin: 5px 15px;
}
} 
}
}
