.testimonial {
    background-image:
    linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.3)),
    url("../img/section-6.jpg");
    background-size: cover;
    height: 100vh;
    background-position: top;
    text-align: center;
    color: #fff;

.team {
    font-family: "Montserrat-bold",sans-serif;
    font-weight: 800;
    font-size: 18px;
    padding-top: 35px;
    margin: 0;
}
.section-txt {
    font-family: "OpenSans-LightItalic",sans-serif;
    font-size: 18px;
}
svg {
    width: 24px;
    height: 21px;
    fill: #fff;
    margin-top: 20px;
}
.bottom-text {
    background-color: #323232;
    height: 100px;
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(10px, 15px);
p {
    font-family: "OpenSans-Light", sans-serif;
    font-weight: 200;
    font-size: 24px;
    opacity: 0.7;
}    
}    
span {
    color:#eeb013;
}
button {
    font-family: "Montserrat-bold", sans-serif;
    font-size: 12px;
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}    
button:hover {
    cursor: pointer;
}    
}
}