.testimonial {
    background-image:
    linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.2)),
    url("../img/section-6.jpg");
    background-size: cover;
    height: 100vh;
    background-position: top;
    text-align: center;
    color: #fff;
    position: relative;
    padding: 35px 0;

.team {
    margin-bottom: 25px;
    letter-spacing: 8px;
}
.section-txt {
    opacity: 0.8;
}
.hummer {
    fill: #fff;
}
.bottom-text {
    background-color: #323232;
    position: absolute;
    display: block;
    bottom: 0px;
    width: 100%;
    height: 100px;
    padding: 15px 0;
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(10px, 15px);
p {
    font-family: "OpenSans-Light", sans-serif;
    font-weight: 200;
    font-size: 24px;
    opacity: 0.7;
}    
}    
span {
    color:#eeb013;
}
button {
    font-family: "Montserrat-bold", sans-serif;
    font-size: 12px;
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}    
button:hover {
    cursor: pointer;
    background-color: #eeb013;
    color: #323232;
}    
}
}
.swiper-container {
    width: 1000px;
    height: 470px;
    text-align: center;
    
img {
    border: transparent solid 6px;
    border-radius: 50%;
    margin-bottom: 10px;
} 
.swiper-slide:hover  img{
    border: #eeb013 solid 6px;
}

.swiper-pagination > .swiper-pagination-bullet {
    opacity: 1;
    background-color: #fff;
}
.swiper-pagination > .swiper-pagination-bullet-active {
    background-color: #eeb013;
}
.triangle {
    height: 30px;
    fill: #fff;
    margin-bottom: 10px;
}
.text-up {
    font-family: "MyriadPro", sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}
.text-midle {
    font-family: "Montserrat-regular", sans-serif;
    font-weight: 200;
    font-size: 14px;
}
.text-down {
    font-family: "OpenSans-Light", sans-serif;
    font-weight: 200;
    font-size: 12px;
    opacity: 0.6;
}
.text-midle,.text-down {
    text-transform: uppercase;
}
}

@media (max-width: 1185px) {
.testimonial .bottom-text .container {
    justify-content: space-around;
    width: 90%;
}
.testimonial .bottom-text {
    background-color: transparent;
}
}
@media (max-width: 1000px) {
.testimonial {
  
.swiper-container {
    width: 50%;
    height: 65%;
    text-align: center;
}
}  

.testimonial .bottom-text .container p {
    font-size: 12px;
}
}


@media (max-width: 625px) {
.testimonial .swiper-container {
    height: 60%;
img {
    width: 97px;
    height: 97px;
}    
.text-up {
    font-size: 12px;
}   
.text-midle {
    font-size: 10px;
} 
.text-down {
    font-size: 8px;
}
.triangle {
    display: none;
}
}
.testimonial .bottom-text {
    bottom: 120px;
 button {
    font-size: 7px;
    width: 85px;
    height: 20px;
}
}
}
