.testimonial {
    background-image:
    linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.2)),
    url("../img/section-6.jpg");
    background-size: cover;
    height: 100vh;
    background-position: top;
    text-align: center;
    color: #fff;
    position: relative;
    padding: 35px 0;
    
.repeat-block {
    margin-bottom: 20px;
}    

h2 {
    margin-bottom: 25px;
    letter-spacing: 8px;
}
.section-txt {
    opacity: 0.8;
}
.icon-hummer {
    fill: #fff;
}
.bottom-text {
    background-color: #323232;
    position: absolute;
    display: block;
    bottom: 0px;
    width: 100%;
    height: 100px;
    padding: 15px 0;
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(10px, 15px);
p {
    font-family: "OpenSans-Light", sans-serif;
    font-weight: 200;
    font-size: 24px;
    opacity: 0.7;
}    
}    
span {
    color:#eeb013;
}
button {
    font-family: "Montserrat-bold", sans-serif;
    font-size: 12px;
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}    
button:hover {
    cursor: pointer;
    background-color: #eeb013;
    color: #323232;
}    
}
}
.swiper-container {
    width: 1000px;
    height: 470px;
    text-align: center;
    
img {
    border: transparent solid 6px;
    border-radius: 50%;
    margin-bottom: 10px;
} 
.swiper-slide:hover  img{
    border: #eeb013 solid 6px;
}

.swiper-pagination > .swiper-pagination-bullet {
    opacity: 1;
    background-color: #fff;
}
.swiper-pagination > .swiper-pagination-bullet-active {
    background-color: #eeb013;
}
.triangle {
    height: 30px;
    fill: #fff;
    margin-bottom: 10px;
}
.text-swiper {
    font-family: "MyriadPro", sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 2.5em;
    margin-bottom: 40px;
}
.desc-swiper {
    font-family: "Montserrat-regular", sans-serif;
    font-weight: 200;
    font-size: 14px;
}
.excerpt {
    font-family: "OpenSans-Light", sans-serif;
    font-weight: 200;
    font-size: 12px;
    opacity: 0.6;
}
.desc-swiper,.excerpt {
    text-transform: uppercase;
}
}

@media (max-width: 1185px) {
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
}
.testimonial .bottom-text .container {
    justify-content: space-around;
    width: 90%;
}
.testimonial .bottom-text {
    background-color: transparent;
}
.testimonial .text-swiper {
    font-size: 13px;
}  
}

@media (max-width: 1000px) {
.testimonial {
    
height: 80vh;
.swiper-container {
    width: 50%;
    height: 70%;
    text-align: center;
}
.text-swiper {
    margin-bottom: 2px;
}
}  

.testimonial .bottom-text .container p {
    font-size: 14px;
}
.testimonial button {
    width: 140px;
    height: 30px;
}



@media (max-width: 700px) {

.testimonial {
    height: 60vh;
h2 {
    letter-spacing: 5px;
}
 .swiper-container {
    height: 55%;
img {
    width: 97px;
    height: 97px;
}    
.text-swiper {
    font-size: 12px;
    line-height: normal;
   
}   
.desc-swiper {
    font-size: 12px;
} 
.excerpt {
    font-size: 12px;
}
.triangle {
    display: none;
}
}
}
.testimonial .bottom-text {
    bottom: 20px;
 button {
    font-size: 12px;
    width: 110px;
    height: 30px;
}
}
}
}
@media (max-width: 500px) {
    .testimonial .swiper-container img {
        width: 65px;
        height: 65px;
    }   
}
