.container-custom {
    max-width: 1140px;
    margin: 0 auto;
    padding-right: 7px;
}
.wr-services {
    text-align: center;

.text-section {
    padding-top: 100px;
}
p {
    padding-bottom: 80px;
}
.icon-services {
    display: flex;
}
svg {
    width: 90px;
    height: 90px;
    border: 2px solid #ddd;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}

button {
    font-size: 24px;
    border: solid 2px;
    width: 217px;
    height: 54px;
    color: #fffefe;
    background-color: transparent; 
}
.icon-services {
        padding-bottom: 100px;
        // padding-bottom: 100px;
}
}
